@import "../functions";
@import "../settings";

.home {
    
    #intro-message {
        
        padding: 30px;
        background-color: $dark-section;
        @include light-or-dark-text( $dark-section );
        font-size: 1.5em;
        
        .media-object {
            margin-bottom: 0;
        }
        
        .media-object-section:last-of-type {
            vertical-align: middle;
            font-weight: 300;
            
            p {
                text-align: center;
                padding-top: 15px;
                padding-bottom: 15px;
                margin-bottom: 0;
                @if lightness( $dark-section ) < 50% {

                    border-top: 1px solid $white;
                    border-bottom: 1px solid $white;

                }
                @else {

                    border-top: 1px solid $dark-gray;
                    border-bottom: 1px solid $dark-gray;

                }
            }
            
        }
        
        .thumbnail {
            margin-bottom: 0;
        }
        
    }
    
    #home-slider.realbig-slider-container {
        
        background-color: $light-section;

        .realbig-slider {

            height: 300px;
            padding-top: 0;
            
            .slide {
                
                .columns {
                    height: 100%;
                }
                
                .columns:first-of-type {
                    border-right: 3px solid $anchor-color;
                }
                
                .columns.image {
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: 50% 50%;
                }
                
                .columns.text {
                    padding: 30px;
                }
                
                @media #{$screen} and ( max-width: 40em ) {
                    
                    padding: 15px;
                    
                    .columns {
                    
                        padding: 0;
                        
                    }
                    
                }
            
                h2 {
                    margin-top: 1em;
                }
            
                .button {
                    margin-top: 2em;
                }
                
            }
        
            .indicators {
                bottom: -1.25em;
            }
        
            @media #{$screen} and ( max-width: 40em ) {
                
                .indicators {
                    display: none;
                }
                
            }

        }

    }
    
    #workshops-exhibits {
        
        h1 {
            color: $anchor-color;
        }
        
        padding: 30px;
        background-color: $topbar-background;
        @include light-or-dark-text( $topbar-background );
        
        .valign-center {
            
            display: table-cell;
            vertical-align: middle;
            
        }
        
        ul {
            margin: 0;
        }
        
        li {
            list-style: none;
        }
        
    }
    
    #recent-posts {
        
        .heading, .post {
            padding: 30px;
        }
        
        .heading {
            
            background-color: $dark-section;
            color: $medium-gray;
            
            border-bottom: 1px solid $anchor-color;
            
        }
        
        .post {
            
            &:nth-child( odd ) {
                
                background-color: $dark-section;
                @include light-or-dark-text( $dark-section );
                
                a {
                    color: $medium-gray;
                    
                    &:hover {
                        color: scale-color( $medium-gray, $lightness: -25% );
                    }
                }
                
            }
            
            &:nth-child( even ) {
                
                background-color: $light-section;
                @include light-or-dark-text( $light-section );
                
            }
            
            &.pagination {
                text-align: center;
            }
            
        }
        
    }
    
}